* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  background-color: #eeeeee;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 3rem;
  padding-left: 1rem;
}

.on-modal {
  overflow-y: hidden;
}
